
{%assign video = section.settings.video %}    

<div class="hero_video_section">
{{ video | video_tag: image_size: '100%', autoplay: true, loop: true, controls: false, muted: true }}
</div> 
  
{% schema %}
{
  "name": "Overlay Video Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [ 
    {
      "type": "video",
      "id": "video",
      "label": "Select Video"    
    },
	{
      "type": "text",
      "id": "overlay_heading",
      "label": "Overlay text heading"
    },
	{
      "type": "html",
      "id": "overlay_content",
      "label": "Overlay Content"
    }	

  ],
  "presets": [
    {
      "name": "Overlay Video Section"
    }
  ]
}
{% endschema %} 